@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  background-color: #202124;
}

.reactEasyCrop_Image.reactEasyCrop_Contain {
  width: 100% !important;
  max-width: 320px !important;
  height: 400px !important;
  object-fit: cover;
}

.reactEasyCrop_CropArea {
  width: 100% !important;
  height: 100% !important;
  max-height: 300px !important;
  max-width: 320px !important;
}
